body {
  font-family: "Montserrat", sans-serif;
  /* background-color: #f5f7fa; */
  background-color: #fff;
margin: 0;
padding: 0;
}

/* .about-me-profession {
  font-size: 14px;
  font-weight: 700;
  color: black;
} */

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: #fff;
  margin: 100px auto;
  /* box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1); */
}
/* Main content section */
.main-content-section {
   padding: 0 80px;
  /* padding: 40px 80px; */
}
.section-divider {
  margin: 0;
  border-color: #fb6d3a;
  background-color: #fb6d3a;
}
.main-content-title {
   /* font-family: 'Permanent Marker', cursive; */
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}
/* About me section */
/* .about-me-section {
  margin: 0 0 40px 0;
} */
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  /* line-height: 17px; */
  color: #000;
  margin: 0 0 20px 0;
}
.about-me-name {
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Comforter', cursive; */
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  /* line-height: 1.7; */
  color: #000;
  margin: 0;
}
.about-me-description {
  width: 600px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* My projects section */
/* .my-projects-section {
  margin-bottom: 50px;
} */
.my-projects-list {
  padding: 0 0 0 18px;
}
.my-project-item {
  margin-bottom: 0;
  color: #000;
  font-weight: bold;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  /* text-decoration: none; */
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  display: none;
}

/* My work experience */
/* My education section (partly)*/
.my-work-experience-company,
.my-education-place,
.my-projects-link {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0 0 10px 0;
}
.my-work-experience-period,
.my-education-period,
.my-project-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* color: #a8a8a8; */
  color: #595959;
  margin: 0 0 10px 0;
}
.my-work-experience-divider {
  color: #000;
}
.my-work-experience-duties,
.my-project-specific-list {
  padding: 0 0 0 22px;
  margin-top: 0;
}
.my-work-experience-duty,
.my-project-specific-item,
.my-project-link-code {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* color: #595959; */
  color: #1e2939;
}
.my-work-experience-company-block {
  margin-bottom: 15px;
}
/* My education section */
.my-education-speciality {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}

.my-education-period-divider {
  color: #000;
}
/* Sidebar section */
.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
  padding-bottom: 10px;
}
.photo {
  width: 300px;
  padding-left: 35px;
  padding-right: 35px;
  /* border-radius: 50%; */
  /* border-color:#fb6d3a; */
  /* border: 3px solid #fb6d3a; */
}
.contacts-section,
.tech-skills-section,
.soft-skills-section,
.language-section {
  margin: 40px 40px 0 40px;
}

.side-bar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Contacts section */
.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 5px;
}
.contacts-section-link {
  /* position: relative; */
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  /* padding-left: 20px; */
  color: #ffffff;
  /* color: #565e6a; */
   /* color:#fb6d3a; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}
.contacts-section-link:hover {
  color:#fb6d3a;
}
.contacts-icon {
  /* position: absolute; */
  bottom: 2px;
  fill: #fb6d3a;
  /* fill: currentColor; */
  margin-right: 5px;
  padding: 0;
}

/* Tech skills section */
/* Soft skills section */
/* Language section */

.tech-skills-list,
.soft-skills-list,
.language-list {
  padding: 0 0 0 20px;
}
.tech-skills-item,
.soft-skills-item,
.language-item {
  color: #fb6d3a;
}

.tech-skills-item-text,
.soft-skills-item-text,
.language-item-text,
.language-level {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
}
.language-level {
   font-style: normal;
  font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
 
}
.language-item-box {
  display: flex;
  /* justify-content: space-between; */
  
}
